/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 févr. 2019, 15:05:02
    Author     : Stagiaire
*/

.form-inscription {
  height: 800px;
  width: 100%;
  padding: 15px;
  margin: auto;
}

.form-inscription .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-inscription .form-control:focus {
  z-index: 2;
}

@media (max-width: 576px) {
  .btn-lg {
	padding: 0.5rem 0;
  }
}